// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  // --primary: #0a9396; // Site main color - (Основний колір сайту)
  // --secondary: #94d2bd; // Site secondary color - (Додатковий колір сайту)
  // --accent: #0090c1; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
  // --inverse: #ffff3f; // Site inverse color - (Наприклад: для створення контрасту між фоном та текстом)
  //========================================================================================================================================================

  --dark-clor: #222f33;
  --semi-color: #646d70;
  --light-color: #d8d8d8;
  --light-color-08: rgba(216, 216, 216, 0.8);
}
